body {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.h1-opp {
    opacity: 1 !important;
    transition: none !important;
}

.custom {
    display: flex;
    background-color: rgb(203, 205, 207);
    /* Enables Flexbox */
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Centers items vertically */
}

.footer {
    position: fixed;
    /* Sticks the footer to the bottom */
    bottom: 0;
    /* Aligns it to the bottom of the viewport */
    width: 100%;
    /* Ensures it spans the full width of the page */
    text-align: center;
    /* Centers the text inside the footer */
    padding: 0;
    /* Removes extra padding */
    line-height: 1.5;
    /* Adjusts line height for better spacing */
    z-index: 1000;
    /* Ensures it stays above other elements */
    color: black;
}

.header {
    background-color: rgb(203, 205, 207) !important;
    height: 3% !important;
}

.header a {
    color: #64a19d !important;
    isolation: auto !important;
}

a:hover {
    text-decoration: underline !important;
}


.img-fit img {
    display: block;
    /* Removes inline spacing caused by inline elements */
    width: 100%;
    /* Ensures the image takes up the full width of its container */
    height: auto;
    /* Maintains the aspect ratio of the image */
    margin: 0;
    /* Removes any default margin */
    padding: 0;
    /* Removes any default padding */
    border: none;
    /* Ensures no border is applied */
    box-sizing: border-box;
}

.img-fit iframe {
    display: block;
    /* Removes inline spacing caused by inline elements */
    width: 100%;
    /* Ensures the image takes up the full width of its container */
    height: auto;
    /* Maintains the aspect ratio of the image */
    margin: 0;
    /* Removes any default margin */
    padding: 0;
    /* Removes any default padding */
    border: none;
    /* Ensures no border is applied */
    box-sizing: border-box;
    height: 50vh;
}

.tableauPlaceholder {
    display: flex;
    /* Enables flexbox for centering */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    margin: 20px auto;
    /* Adds spacing and centers the container */
    height: auto;
    /* Maintains aspect ratio */
}

.tableauPlaceholder object {
    width: 100%;
    /* Ensures the object fits within the container */
    height: auto;
    /* Adjusts height proportionally */
}